img {
border-radius: 70%;

}

span {
    font-size: small;


}
body {

background-color: rgb(174, 245, 245);

}
#Doświadczeniezawodowe {

    background-color: rgb(113, 238, 238);
}
